<!-- sharing data between components -->
<!-- {{string}} -->
<!-- sharing data between components -->

<br />
<div class="container-fluid mb-3">
  <div class="row">
    <!-- mouseOver/Leave event goes here -->
    <div class="col-sm-4" (mouseover)="mouseEvent(true)"
      (mouseleave)="mouseEvent(false)">
      <h3 *ngIf="!changeText" class="text-warning">Students List</h3>
      <h3 *ngIf="changeText" class="text-warning">RKU students list</h3>
    </div>
    <div class="col-sm-4">
      <pagination-controls class="text-center" (pageChange)="p=$event"></pagination-controls>
    </div>
    <div class="col-sm-4" [ngStyle]="{ 'width': '14%', 'margin-left': '16rem' }">
      <button class="btn btn-warning btn-block btn-lg" (click)="open(content)"><i class="mr-1 fa fa-user-plus mr-4"></i>Insert</button>
    </div>
  </div>

  <br />

  <div class="container-fluid">
  <table class="table text-white text-center table-bordered shade table-hover">
    <thead>
      <tr id="npHover">
        <th class="sorting">Full Name
          <a [ngStyle]="{ color: 'white' }"><i class="fa fa-sort" (click)="sort('fullname')"></i></a>
        </th>
        <th class="sorting">UID
          <a [ngStyle]="{ color: 'white' }"><i class="fa fa-sort" (click)="sort('uid')"></i></a>
        </th>
        <th class="sorting">Username
          <a [ngStyle]="{ color: 'white' }"><i class="fa fa-sort" (click)="sort('username')"></i></a>
        </th>
        <th class="sorting">Field
          <a [ngStyle]="{ color: 'white' }"><i class="fa fa-sort" (click)="sort('field')"></i></a>
        </th>
        <th class="sorting">Number
          <a [ngStyle]="{ color: 'white' }"><i class="fa fa-sort" (click)="sort('cellno')"></i></a>
        </th>
        <th class="sorting">Actions
          <a [ngStyle]="{ color: 'white' }"><i class="fa fa-eraser" placement="top" ngbTooltip="Set to unsorted." (click)="sort('')"></i></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let apidata of insertData | paginate:{itemsPerPage:5, currentPage:p} | orderBy:key:reverse; let i= index">
        <td>
          <div *ngIf="apidata.isEditable">
            <input type="text" placeholder="Full Name" placement="bottom" ngbTooltip="As per your SSC(10th) result." class="form-control" [ngStyle]="{ 'border-radius': '4px' }" name="fullname" #name="ngModel" [(ngModel)]="apidata.fullname" id="fname" required />
          </div>
          <div *ngIf="!apidata.isEditable">
            {{apidata.fullname}}
          </div>
        </td>
        <td>{{apidata.uid | uppercase}}</td>
        <td>{{apidata.username}}</td>
        <td>{{apidata.department}}</td>
        <td>
          <div *ngIf="apidata.isEditable">
            <input type="text" placeholder="Mobile (Dont prefix 0 or 91)" placement="left" ngbTooltip="Indian Cellular Number Only" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '4px' }" name="cellno" [(ngModel)]="apidata.cellno" id="number" maxlength="10" minlength="10" pattern="^[789]\d{9}$" required />
          </div>
          <div *ngIf="!apidata.isEditable">
            {{apidata.cellno}}
          </div>
        </td>
        <td>
          <div *ngIf="apidata.isEditable">
            <a class="btn btn-success btn-sm mr-1" (click)="update(apidata)"><i class="mr-1 fa fa-user-edit"></i>Update</a>
            <a class="btn btn-danger btn-sm ml-1" (click)="cancelBtn(apidata)"><i class="mr-1 fa fa-ban"></i>Cancel</a>
          </div>
          <div *ngIf="!apidata.isEditable">
            <a class="btn btn-success btn-sm mr-1" (click)="editBtn(apidata)"><i class="mr-1 fa fa-pencil-alt"></i>Edit</a>
            <a class="btn btn-danger btn-sm ml-1" (click)="delete(apidata)"><i class="mr-1 fa fa-trash-alt"></i>Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
</div>

  <!-- <div class="row gut">
    <div *ngFor="let student of insertData; let i= index" class="card text-white shade">
      <div *ngIf="i % 2 == 0; else elseblock">
        <div class="embedded">
          <img *ngIf = "student.gender == 'Male'" class="card-img-top img" [src]="img_url" height="200px" width="200px" />
          <img *ngIf = "student.gender == 'Female'" class="card-img-top img" [src]="female_img" height="200px" width="200px" />
          <a [routerLink]="['/student-detail', { id: i }]" [ngStyle]="{ color: 'white' }"><i class="fa fa-eye"></i></a>
        </div>
        <div class="card-body">
          <p class="card-text">Enrollment No.: {{ student.uid }}</p>
          <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Full Name: {{ (student.fullname.length>23)? (student.fullname | slice:0:23) + '. . .' :(student.fullname) }}</p>
          <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Username: {{ (student.username.length>23)? (student.username | slice:0:20) + '. . .' :(student.username) }}</p>
          <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Field: {{ student.department }}</p>
          <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Phone Number: {{ student.cellno }}</p>
          <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">DOB: {{ student.dob }}</p>
          <a class="btn btn-success btn-sm mr-1" [ngStyle]="{ 'margin-top':'-13px' }" (click)="setModalData(i,content)">Edit</a>
          <a class="btn btn-danger btn-sm ml-1" [ngStyle]="{ 'margin-top':'-13px' }" (click)="deleteData(i)">Delete</a>
        </div>
      </div>
      <ng-template #elseblock>
        <div [ngStyle]="{'background-color': 'maroon','border-radius': '15px','font-family': 'Jokerman'}">
          <div class="embedded">
            <img *ngIf = "student.gender == 'Male'" class="card-img-top img" [src]="img_url" height="200px" width="200px" />
            <img *ngIf = "student.gender == 'Female'" class="card-img-top img" [src]="female_img" height="200px" width="200px" />
            <a [routerLink]="['/student-detail', { id: i }]" [ngStyle]="{ color: 'white' }"><i class="fa fa-eye"></i></a>
          </div>
          <div class="card-body">
            <p class="card-text">Enrollment No.: {{ student.uid }}</p>
            <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Full Name: {{ (student.fullname.length>23)? (student.fullname | slice:0:23) + '. . .' :(student.fullname) }}</p>
            <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Username: {{ (student.username.length>23)? (student.username | slice:0:20) + '. . .' :(student.username) }}</p>
            <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Field: {{ student.department }}</p>
            <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">Phone Number: {{ student.cellno }}</p>
            <p class="card-text" [ngStyle]="{ 'margin-top': '-13px' }">DOB: {{ student.dob }}</p>
            <a class="btn btn-success btn-sm mr-1" [ngStyle]="{ 'margin-top':'-13px' }" (click)="setModalData(i,content)">Edit</a>
            <a class="btn btn-danger btn-sm ml-1" [ngStyle]="{ 'margin-top':'-13px' }" (click)="deleteData(i)">Delete</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div> -->

<ng-template #content let-modal>
  <div class="modal-header text-dark text-center">
    <h5 class="modal-title w-100" id="modal-basic-title">Student Details!</h5>
    <button type="button" class="btn-close mr-2" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body card text-white center-block head">
    <form #userRegForm="ngForm" (ngSubmit)="saveData(userRegForm)">
      <fieldset>
        <legend class="text-danger">Enter Valid Details!!</legend>
        <small id="emailshare" class="form-text text-muted mb-2">We'll never share your details with anyone else.</small>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-user iconSize"></i></span>
            <input type="text" placeholder="Full Name" placement="left" ngbTooltip="As per your SSC(10th) result." class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="fullname" #name="ngModel" [(ngModel)]="fullname" id="fname" required />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-id-card iconSize"></i></span>
            <input type="text" placeholder="UID - Non editable" placement="left" ngbTooltip="Enrollment ID" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="uid" #enNo="ngModel" [(ngModel)]="uid" id="uid" [readonly]="isEditable" minlength="12" maxlength="12" required />
          </div>
          <small *ngIf="isEditable" class="form-text text-muted">Immutable text, Cannot be modified!!</small>
          <div *ngIf="enNo.invalid && (enNo.touched || enNo.dirty)" >
            <div *ngIf="enNo.errors.required" class="text-danger">
              Enrollment ID is mandatory
            </div>
            <div *ngIf="enNo.errors.minlength" class="text-primary">
              Min length should be {{enNo.errors.minlength?.requiredLength}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-envelope iconSize"></i></span>
            <input type="email" placeholder="Email Address" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="username" [(ngModel)]="username" id="emailid" required />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-key iconSize"></i></span>
            <input type="password" placeholder="Password" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="password" [(ngModel)]="password" id="password" ng-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-building fa-fw iconSize"></i></span>
            <input type="text" placeholder="Department/Course" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="department" [(ngModel)]="department" id="department" required />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-phone iconSize"></i></span>
            <input type="text" placeholder="Mobile (Dont prefix 0 or 91)" placement="left" ngbTooltip="Indian Cellular Number Only" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="cellno" [(ngModel)]="cellno" id="number" maxlength="10" minlength="10" pattern="^[789]\d{9}$" required />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngStyle]="{ 'border-radius': '4px 0px 0px 4px' }"><i class="fa fa-birthday-cake iconSize"></i></span>
            <input type="date" placement="left" ngbTooltip="Date of birth" class="form-control form-textbox" [ngStyle]="{ 'border-radius': '0px 4px 4px 0px' }" name="dob" [(ngModel)]="dob" id="dateOfBirth" required />
          </div>
        </div>
        <div class="form-group mb-4">
          <div class="toggle_radio">
            <input type="radio" class="toggle_option" id="first_toggle" name="gender" [(ngModel)]="gender" value="Male" />
            <input type="radio" class="toggle_option" id="second_toggle" name="gender" [(ngModel)]="gender" value="Female" />
            <label for="first_toggle"><i class="fa fa-male mr-3"></i>Male</label>
            <label for="second_toggle"><i class="fa fa-female mr-3"></i>Female</label>
            <div class="toggle_option_slider"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary btn-block mt-2 btn-md" >{{dataSub}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</ng-template>
