/* You can add global styles to this file, and also import other style files */
.active{
  border-radius: 4px !important;
  background: hsla(0,0%,100%,.15) !important;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 150px;
  height: 100%;
  margin-right: 16px;
}

.search-container input {
  color: #444;
  border: none;
  border-radius: 100px !important;
  background-color: #fff;
  padding: 5px 16px;
  margin-left: 8px;
  width: 180px;
  max-width: 240px;
  height: 50%;
  transition: width .4s ease-in-out;
  -webkit-appearance: none;
}

.search-container input:focus{
  outline : none;
  width: 380px;
  box-shadow: 0px 0px 5px 2px #ffca2ccf !important;
}

.head {
  background-color: black !important;
  margin: 2.4px !important;
  margin-top: 0.2rem !important;
  box-shadow: 0px 0px 2px 5px black !important;
  border-radius: 0px 0px 4.8px 4.8px !important;
  border-color: transparent;
}

.gut{
  --bs-gutter-x: 0rem !important;
}

.required {
  color: red;
}

.shade {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem !important;
  margin-top: 10px;
  width: 310px;
  background-color: black;
  border-radius: 15px;
  border-color: transparent !important;
  box-shadow: 0px 0px 10px 5px grey !important;
}

.embedded { position: relative;}
.embedded img { display: block; }
.embedded .fa-eye { position: absolute; top:15px; left:15px; }

.sorting { position: relative;}
.sorting .fa-sort, .fa-eraser { position: absolute; top:15px; right:15px; }

.img {
  border-radius: 13px 13px 13px 45px;
}
.img:focus{
  outline:none;
}

.mr-1, .mx-1 {
  margin-right: 0.4rem !important;
}

.ml-1, .mx-1 {
  margin-left: 0.4rem !important;
}

.ml-4, .mx-4 {
  margin-left: 2.4rem !important;
  width: 21rem !important;
}

/*----------- styling modal for inserting user data -----------*/
.iconSize {
  width: 1.28571429em !important;
  text-align: center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.form-textbox {
  box-shadow: none !important;
}
/* gender radio designs */
.toggle_radio {
  position: relative;
  background: white;
  margin: 5px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  height: 35px;
  width: 215px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type="radio"] {
  display: none;
  /*position: fixed;*/
}
.toggle_radio label {
  font: 90%/1.618 "Source Sans Pro";
  color: black;
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 6px 2px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider {
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 30px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#first_toggle:checked ~ .toggle_option_slider {
  background: #238bae73;
  left: 5px;
}
#second_toggle:checked ~ .toggle_option_slider {
  background: #238bae73;
  left: 109px;
}
/* styling modal for inserting user data */

/*----------- styling for user data table -----------*/
tr:hover{
  background-color: #ffc107 !important;
}
#npHover:hover{
  background-color: black !important;
}

.table>:not(caption)>*>*{
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #ffc107;
}
table {
  width: inherit !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  min-width: 350px !important;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
/* styling for user data table */
