<h1 class="text-center text-white mt-4">Welcome to my first angular project</h1>
<div class="row gut mt-4">
  <div class="card text-white shade ml-4" >
    <div class="card-body">
      <p class="card-text">{{h_variable}}</p>
      <p class="card-text">Array: [{{h_array}}]</p>
      <p class="card-text">Array 3 element: {{h_array[0]}}{{h_array[1]}}{{h_array[8]}}</p>
      <p class="card-text">Sum of 35 and 75 using function is: {{h_func()}}</p>
      <h5 class="text-center">--------Object--------</h5>
      <p class="card-text">Subject Name: {{h_object.name}}</p>
      <p class="card-text">Semester: {{h_object.sem}}</p>
      <p class="card-text">Subject Use: {{h_object.use}}</p>
    </div>
  </div>
</div>

<!-- sharing data between components -->
<!-- <h4>{{msg}}</h4> -->
<!-- <app-student [string]="h_variable" (eventName)="funName($event)"></app-student> -->
<!-- sharing data between components -->
